/*通用样式*/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

img {
    border: 0;
}

html {
    font-size: 14px;
    width: 100%;
}

body {
    background: #f4f4f4;
}